.wrapper {
  min-width: 1246px;
  width: 100%;
  max-width: 1246px;
  margin: 10px auto;
  padding: 0 3.7rem;
  overflow: hidden;
}

.feedWrapper {
  margin: 0 -0.5rem;
}

.wrapper .checkbox {
  width: 25%;
}

.wrapper label {
  text-align: left;
  display: block;
  position: relative;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  color: #424242;
  padding: 1.2rem 3rem;
  cursor: pointer;
}

.wrapper input[type='checkbox'] {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrapper input[type='checkbox']:checked + span:after {
  content: '';
  background: url(/icons/bt_checkbox_checked.svg) center no-repeat;
}

.wrapper label span:after {
  content: '';
  display: block;
  position: absolute;
  left: -0.2rem;
  top: 0.4rem;
  width: 2.8rem;
  height: 2.8rem;
  background: url(/icons/check_off.png) center no-repeat;
  background-size: 70%;
}

.wrapper .profile img {
  display: block;
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
}

.wrapper .profile p {
  text-align: left;
  display: block;
  position: relative;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  line-height: 3.27;
  color: rgba(0, 0, 0, 0.74);
  padding-left: 2rem;
}

.wrapper .feedWrapper ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper .feedWrapper ul li {
  position: relative;
  width: 25%;
  height: 0;
  padding-top: 25%;
  margin-bottom: 4rem;
}

.wrapper .feedWrapper ul li span {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
}

.wrapper .feedWrapper ul li .boxImg {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.btnDibs {
  position: absolute;
  bottom: -3rem;
  right: 0.5rem;
  padding: 1rem;
  z-index: 9;
}

.btnDibs img {
  display: block;
  width: 2rem;
  height: auto;
}

.btnDibs.active img:first-child {
  display: none;
}

.btnDibs.active img:last-child {
  display: inline-block;
}

.btnDibs img:last-child {
  display: none;
}

.wrapper .feedWrapper .profile {
  text-align: left;
  display: block;
  font-size: 1.3rem;
  color: #999;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}
