.App {
  font-family: sans-serif;
  text-align: center;
}

 section {
  display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul, ol {
  list-style: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.wrapper {
  min-width: 1246px;
  width: 100%;
  max-width: 1246px;
  margin: 10px auto;
  margin-top: 6rem;
  padding: 0 5rem;
  overflow: hidden;
}

.feedWrapper{
  margin: 0 -.5rem;
}

.wrapper .checkbox {
  width: 25%;
}

.wrapper label {
  text-align: left;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
  padding: 1rem 3rem;
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  position: absolute;
  width: .1rem;
  height: .1rem;
  padding: 0;
  margin: -.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrapper input[type="checkbox"]:checked + span:after {
  content: "";
  background: url(/icons/bt_checkbox_checked.svg) center no-repeat;
}

.wrapper label span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: .4rem;
  width: 2.8rem;
  height: 2.8rem;
  background: url(//openimage.interpark.com/tour-mobile/pages/fit/place/check_off.png) center no-repeat;
  background-size: 70%;
}

.wrapper .profile img {
  content: "";
  display: block;
  position: absolute;
  left: 0.8rem;
  top: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
}

.wrapper .profile p {
  text-align: left;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.74);
  padding: 1rem 2rem;
}

.wrapper .feedWrapper ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper .feedWrapper ul li {
  position: relative;
  width: 25%;
  height: 0;
  padding-top: 25%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.wrapper .feedWrapper ul li span {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.wrapper .feedWrapper ul li .boxImg {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.btnDibs {
  position: absolute;
  bottom: -3rem;
  right: 0.5rem;
  padding: 1rem;
  z-index: 9;
}

.btnDibs img {
  display: block;
  width: 2rem;
  height: auto;
}

 .btnDibs.active img:first-child {
  display: none;
}

 .btnDibs.active img:last-child {
  display: inline-block;
}

 .btnDibs img:last-child {
  display: none;
}

.wrapper .feedWrapper .profile {
  text-align: left;
  display: block;
  font-size: 1.3rem;
  color: #999;
  padding: .2rem .5rem;
}

/*
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}



.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.box img {
  width: 268px;
  height: 268px;
  border-radius: 10px;
}

.btnDibs {
  position: absolute;
  bottom: -0.1rem;
  right: 0.1rem;
  padding: 1rem;
  z-index: 9;
}

.btnDibs img {
  display: block;
  width: 2.2rem;
  height: auto;
  border-radius: 0;
}

 .btnDibs.active img:first-child {
  display: none;
}

 .btnDibs.active img:last-child {
  display: inline-block;
}

 .btnDibs img {
  display: block;
  width: 2.2rem;
  height: auto;
  border-radius: 0;
}

 .btnDibs img:last-child {
  display: none;
}
*/